body {
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    --case1: rgba(205, 204, 204, 0.95);
    --case2: #839ab3;

    background-color: var(--case1);
    background-image: linear-gradient(45deg,
    var(--case2) 25%,
    transparent 25%,
    transparent 75%,
    var(--case2) 75%,
    var(--case2) 100%
    ),
    linear-gradient(45deg,
            var(--case2) 25%,
            var(--case1) 25%,
            var(--case1) 75%,
            var(--case2) 75%,
            var(--case2) 100%
    );
    background-size: 210px 210px;
    background-position: 0 0, 105px 105px;
}


.page-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}.login-card {
     background-color: #cacaca;
     padding: 20px 44px 44px;
     border-radius: 18px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 460px;
     max-width: 90vw;
 }

.register-card {
    background-color: #cacaca;
    padding: 20px 44px 44px;
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    max-width: 90vw;
}

.register-container {
    background: #2b2b2b;
    padding: 30px 30px;
    border-radius: 14px;
    box-shadow: 0 2px 20px #000100;
    min-width: 350px;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
}

.register-container h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
}

.logo-register {
    display: block;
    margin-bottom: 2px;
    width: 260px;
    height: auto;
}

.form-group {
    margin-top: 18px;
    color: #fff;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.login-text {
    color: #717171;
    margin-top: 16px;
}

.login-text a:visited {
    color: #0066ff;
}

.login-text a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.login-text a:link {
    color: #bbbbbb;
}

button[type="submit"] {
    background: #0542c8;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 1.25em;
    padding: 14px 0;
    width: 100%;
    box-shadow: 0 2px 0 #042c84;
    cursor: pointer;
    margin-top: 14px;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background: #0639a8;
}

.form-control {
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #393939;
    color: #ddd;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 4px;
}